body{
    background-color: white;
    font-size: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container{
    background-color: lightgray;
    padding: 100px;
    border-radius: 30px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1 );
    width: 400px;
    text-align: center;

}

h1{
    font-size: 24px;
    margin-bottom: 20px;
}

.question{
    font-size: 18px;
    margin-bottom: 20px;
}

.options{
    list-style: none;
    padding: 0;
}

.options li{
    margin: 10px 0;
}
.option-button{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
}

.option-button:hover {
    background-color: #007bbf;
    color: white;
}

.next-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    display: none;
}

.score-container{
    display: none;
}

.score-container h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

/* .correct {
    background-color: #28a745;
    color: white;
    border-color: #28a745;
}

.wrong {
    background-color: #dc3545;
    color: white;
    border-color: #dc3545;
} */

.choosedAnswer {
    background-color: blue;
    color: white;
    border-color: black;
}